<%= google_maps_include 					 %>
<%= stylesheet_link_tag 		"maps" %>

<div id="main-map-canvas" class="hide"></div>

<!-- <div class="container"> -->
<section id="Section-1">
  <div class="container">
    <div class="row">
      <!-- SERVICE SIDE-->
      <div class="col-sm-7 col-lg-7">
        <!-- INNER ROW-->
        <h3 class="main-color"><%= t :recent_incidents %></h3>

        <div ng-controller="IncidentCtrl">
          <div class="about-box row" ng-repeat="incident in incidents | limitTo:4">
            <div class="col-sm-3 col-lg-3">
              <div class="circ-wrap">
                <i class="icon-exclamation icon-4x"></i>
              </div>
            </div>
            <div class="col-sm-8 col-lg-8">   
              <h4><span>{{incident.translated_type}}</span></h4>
              
              <p class="">{{incident.full_address}}</p>
              <p class="">{{incident.description}}</p>
            </div>
          </div>
        </div>
      </div><!--/SPAN7-->

      <!-- SKILLS BAR SIDE-->
      <div class="col-sm-5 col-lg-5">
        <h3 class="main-color"><%= t :statistics %></h3>

        <div ng-controller="IncidentTypeCtrl">
          <div ng-repeat="incident_type in incident_types">
            <!-- BAR ITEM-->
            <h4>{{incident_type.name}} {{incident_type.percentage}}%</h4>
            <div class="progress">
              <div class="bar" style="width: {{incident_type.percentage}}%;"></div>
            </div>
            <!--/ BAR ITEM-->
          </div>
        </div>
  
      </div>
    <!--/ SKILLS BAR SIDE-->
    </div>
  </div>
</section>
<!-- </div> -->

