#main-map-canvas { 
	height: 600px;
/*	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;*/

	margin-top:-55px;
	margin-left:-50px;
	margin-right:-50px;
}

body.mobile #main-map-canvas { 
	margin-top:0px;
}

.info-window-wrapper{
	background-color: red;
}