  <!-- FOOTER -->
  <footer id="foot-sec">
    <div class="container">
      <div class="row">
        <div class="page-header text-center col-sm-12 col-lg-12">
          <h3 class="">Stay in touch with us</h3>
          
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-12 col-lg-12 text-center">
          <div style="display:inline-block">
            <div class="circ-wrap circ-2x">
              <a href="#"><i class="icon-facebook icon-2x"></i></a>
            </div>
            <div class="circ-wrap circ-2x">
              <a href="#"><i class="icon-twitter icon-2x"></i></a>
            </div>          
            <div class="circ-wrap circ-2x">
              <a href="#"><i class="icon-linkedin icon-2x"></i></a>
            </div>          
            
            <div class="circ-wrap circ-2x">
              <a href="#"><i class="icon-google-plus icon-2x"></i></a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
      <hr>
        <div class="text-center col-sm-12 col-lg-12">
            <p>© 2013 Reportame</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- / FOOTER -->