  <!-- FOOTER -->
  <footer id="foot-sec">
    <div class="container">
      <div class="row">
        <div class="page-header text-center col-sm-12 col-lg-12">
          <h3 class=""><%= t :share %></h3>
          
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-12 col-lg-12 text-center">
          <div style="display:inline-block">
            <div class="circ-wrap circ-2x">
              <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Freportame.valdivia.me" target="_blank">
                <i class="icon-facebook icon-2x"></i>
              </a>
            </div>
            <div class="circ-wrap circ-2x">

              <!-- https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Flocalhost%3A3000%2F&text=Una%20nueva%20herramienta%20para%20poder%20reportar%20y%20registrar%20el%20crimen%20en%20Guadalajara.&tw_p=tweetbutton&url=http%3A%2F%2Flocalhost%3A3000%2F -->

              <!-- <a href="https://twitter.com/share" class="twitter-share-button"
                data-text="Una nueva herramienta para poder reportar y registrar el crimen en Guadalajara.">
                <i class="icon-twitter icon-2x"></i>
              </a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </a> -->
            </div>          
            <div class="circ-wrap circ-2x">
              <a href="#"><i class="icon-linkedin icon-2x"></i></a>
            </div>          
            
            <div class="circ-wrap circ-2x">
              <a href="#"><i class="icon-google-plus icon-2x"></i></a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
      <hr>
        <div class="text-center col-sm-12 col-lg-12">
            <p>© 2013 Reportame</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- / FOOTER -->