  <title><%= t("app_name") %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/style.css" rel="stylesheet">
  <link href="/assets/font-awesome.min.css" rel="stylesheet"> 

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>