<!DOCTYPE html>
<html ng-app="Reportame">
  <head>
  	<%= render partial: "layouts/detail_admin/head" %>
  </head>
  <body>

  	<%= render partial: "layouts/detail_admin/nav" %>

		<!-- main container -->
    <div class="content">
    	<%= yield %>
    </div>

  </body>
</html>
